
.bobouttonIT {
    
    opacity: 0;
    appearance: none;
    background:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),  url(../Media/IT.jpg);
    position : absolute;
    left: 273px;
    top: 620px;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    width:100px;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    min-height: 0px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 45%;
    will-change: transform;
    }

    .bobouttonIT:disabled {
    pointer-events: none;
    }

    .bobouttonIT:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    }

    .bobouttonIT:active {
    box-shadow: none;
    transform: translateY(0);
}

.bobouttonHR {
    opacity: 0;
    appearance: none;
    background:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.5)),  url(../Media/HR.jpg);
    background-color: transparent;
    position : absolute;
    right: 292px;
    top: 300px;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    width:100px;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    min-height: 0px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 45%;
    will-change: transform;
    }

    .bobouttonHR:disabled {
    pointer-events: none;
    }

    .bobouttonHR:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    }

    .bobouttonHR:active {
    box-shadow: none;
    transform: translateY(0);
}

.bobouttonfinance {
    opacity: 0;
    appearance: none;
    background:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.4)),  url(../Media/finance.jpg);
    background-color: transparent;
    border: 2px solid #1A1A1A;
    position : absolute;
    left: 270px;
    top: 460px;
    border-radius: 15px;
    width:80px;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    min-height: 0px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 45%;
    will-change: transform;
    }

    .bobouttonfinance:disabled {
    pointer-events: none;
    }

    .bobouttonfinance:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    }

    .bobouttonfinance:active {
    box-shadow: none;
    transform: translateY(0);
}

.bobouttonMarketing {
    opacity: 0;
    appearance: none;
    background:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.4)),  url(../Media/marketing.jpg);
    background-color: transparent;
    position : absolute;
    right: 306px;
    top: 770px;
    background-size: 620px 450px;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    width:80px;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 25px;
    font-weight: 450;
    line-height: normal;
    margin: 0;
    min-height: 0px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 45%;
    will-change: transform;
    }

    .bobouttonMarketing:disabled {
    pointer-events: none;
    }

    .bobouttonMarketing:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    }

    .bobouttonMarketing:active {
    box-shadow: none;
    transform: translateY(0);
}