:root {
  --hub: hsl(278, 30%, 48%);
  --hub-hsl: 278, 30%, 48%;
  --hub-darker: hsl(278, 34%, 31%);
  --hub-darker-hsl: 278, 34%, 31%;
  --oss: hsl(2, 48%, 39%);
  --oss-hsl: 2, 48%, 39%;
  --oss-darker: hsl(2, 52%, 25%);
  --oss-darker-hsl: 2, 52%, 25%;
  --enterprise: hsl(162, 24%, 38%);
  --enterprise-hsl: 162, 24%, 38%;
  --enterprise-darker: hsl(162, 26%, 26%);
  --enterprise-darker-hsl: 162, 26%, 26%;
  --vault: hsl(229, 25%, 45%);
  --vault-hsl: 229, 25%, 45%;
  --vault-darker: hsl(230, 28%, 31%);
  --vault-darker-hsl: 230, 28%, 31%;

  --primary: hsl(202, 88%, 45%);
  --primary-hsl: 202, 88%, 45%;
  --primary-darker: hsl(230, 28%, 31%);
  --primary-darker-hsl: 230, 28%, 31%;

  --secondary: hsl(0, 3%, 41%);
  --secondary-hsl: 0, 3%, 41%;
  --secondary-darker: hsl(0, 3%, 48%);
  --secondary-darker-hsl: 0, 3%, 48%;

  --text: hsl(0, 3%, 15%);
  --text-hsl: 0, 3%, 15%;
  --text-muted: hsl(0, 3%, 41%);
  --text-muted-hsl: 0, 3%, 41%;
  --text-light: hsl(0, 5%, 63%);
  --text-light-hsl: 0, 5%, 63%;

  --card: hsl(0, 0%, 100%);
  --card-hsl: 0, 0%, 100%;
  --card-muted: hsl(0, 0%, 98%);
  --card-muted-hsl: 0, 0%, 98%;

  --info: hsl(205, 74%, 53%);
  --info-hsl: 205, 74%, 53%;
  --info-darker: hsl(205, 71%, 41%);
  --info-darker-hsl: 205, 71%, 41%;
  --success: hsl(131, 31%, 52%);
  --success-hsl: 131, 31%, 52%;
  --success-darker: hsl(130, 35%, 39%);
  --success-darker-hsl: 130, 35%, 39%;
  --warning: hsl(47, 86%, 47%);
  --warning-hsl: 47, 86%, 47%;
  --alert: hsl(2, 58%, 48%);
  --alert-darker: hsl(2, 63%, 36%);
  --alert-darker-hsl: 2, 63%, 36%;
  --alert-hsl: 2, 58%, 48%;

  --bg: hsl(0, 5%, 93%);
  --bg-hsl: 0, 5%, 93%;
  --bg-muted: hsl(0, 4%, 89%);
  --bg-muted-hsl: 0, 4%, 89%;
  --bg-white: hsl(0, 0%, 100%);
  --bg-white-hsl: 0, 0%, 100%;

  --upper-gradient: linear-gradient(90deg, var(--primary-darker) 0%, var(--primary) 58.33%, var(--hub) 100%);
  --upper-gradient-mobile: linear-gradient(90deg, var(--primary-darker) 0%, var(--primary) 100%);


  /* Special colors to be picked */
  --color-pink: hsl(324, 86%, 47%);
  --color-purple: hsl(285, 86%, 47%);
  --color-purple-dark: hsl(258, 86%, 47%);
  --color-blue-dark: hsl(227, 86%, 47%);
  --color-blue: hsl(219, 86%, 47%);
  --color-blue-light: hsl(194, 86%, 47%);
  --color-blue-green: hsl(172, 86%, 47%);
  --color-green: hsl(150, 86%, 47%);
  --color-green-yellow: hsl(100, 86%, 47%);
  --color-yellow: hsl(64, 86%, 47%);
  --color-orange: hsl(36, 86%, 47%);
  --color-red: hsl(8, 86%, 47%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 75%);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-dark: hsl(0, 0%, 25%);
  --color-black: hsl(0, 0%, 0%);
}

/*
  Self-hosted fonts
*/


@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter/ibm-plex-mono.regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Inter/ibm-plex-mono.medium.ttf") format("truetype"),
  
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Inter/ibm-plex-mono.semibold.ttf") format("truetype"),
}

/* -------------------------------------------------------
Variable font.
Usage:

  body {
    font-family: 'Inter', sans-serif; // use regular Inter font by default..
    @supports (font-variation-settings: normal) {
      font-family: 'Inter var', sans-serif; // ..but if supported, use variable Inter font instead (all-in-one)
    }
  }


*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter/Inter-roman.var.woff2?v=3.18") format("woff2");
}

body {
  box-sizing: border-box;
  background: var(--bg);
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif !important; // use regular Inter font by default..
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family:  'Inter';
  color: #000;
}

body {
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* .score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
} */

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
  margin-top: 5px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


input {
  background: none;
}

.logo{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 150px;
  height: 150px;
}

.fname{
  border-color: white;
}

/* .download-link{
  color: orange;
} */

/* .a:link{
  color: black;
} */

.page4h1{
  font-size: 28px;
  text-align: justify;
  margin-right: 10px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.BtnGrey {
  &.loader {
    justify-content: center;
  }
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-top: 30px;
  height: 30px;
}

.alertForm {
  color: red;
}

div.buttons {
  display: flex;
  flex-direction: column;
  margin: 24px 0 0 0;
  &.right {
    align-items: flex-end;
  }
  &.left {
    align-items: flex-start;
  }
}

div#root {
  width: 100%;
}

h1.center {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}
h2.center {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

div.background-black {
  background: black;
  width: 100%;
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  position: relative;

  #rectangle::after{
    content: "";
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: table;
    background: white;
  }
}

.enter-participant {
  justify-content: center;
  padding-top: 40vh;
}

.badge-participant{
  justify-content: center;
  padding-top: 30vh;
}
.enter-form {
  padding-right: 20%;
  padding-left: 20%;
}
.applybackgroundcolor{
  background-color: #0f1821;
  width: 1024px;
  height: 1366px;
}
.flex-grid, .flex-grid-fw {
  display: grid;
  grid-template-columns: 50% 50%;

  .left {
    background: #e7e7e7;
    padding: 35px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .right-thousand {
    padding: 35px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .left-thousand {
    padding: 35px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .right {
    background: #f1f1f1;
    padding: 35px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  img {
    height: 160px;
    width: auto;
    margin-bottom: 50px;
  }

  button {
    margin: 0 auto;
  }

  h2 {
    padding-bottom: 30px;
  }
}

.flex-grid-fw {
  justify-items: center;
  align-items: center;
  .right,.left {
    padding: 0;
    video {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.margin-bottom {
  margin-bottom: 50px;
  display: table;
}
.deepfake-text{
  color:white;
  font-size:large;
}
.deepfake-text2{
  color:white;
  font-size:large;
}

.center-buttons{display:flex;justify-content:center;margin:25px auto;width:100%}
.center-buttons button{margin-right:20px}
.lds-ring{display:inline-block;position:relative;width:80px;height:80px}

.lds-ring div{box-sizing:border-box;display:block;position:absolute;width:64px;height:64px;margin:8px;border-radius:50%;-webkit-animation:lds-ring 1.2s cubic-bezier(.5,0,.5,1) infinite;animation:lds-ring 1.2s cubic-bezier(.5,0,.5,1) infinite;border:8px solid transparent;border-top-color:#fff}
.lds-ring div:first-child{-webkit-animation-delay:-.45s;animation-delay:-.45s}
.lds-ring div:nth-child(2){-webkit-animation-delay:-.3s;animation-delay:-.3s}
.lds-ring div:nth-child(3){
  -webkit-animation-delay:-.15s;animation-delay:-.15s
}@-webkit-keyframes lds-ring{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes 

lds-ring{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}

.btn-intro {
  height: 100%;
  width: 100%;
  opacity: 0;
}

.labelForm {
  color: white;
  font-size:medium;
}

.pilotName {
  color: white;
  text-align: center;
}